<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Decode tokens</title>
        <style>
            .container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                
                margin: 3px;
                padding: 10px;

                border: 2px solid black;
                border-radius: 3px 2px;
            }

            .input-container {
                margin:3px;
                padding: 10px;

                border: 2px solid black;
                border-radius: 3px 2px;
            }

            .input-form {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }

            .input-group {
                display: inline-flex;

                padding: 10px;
            }

            .input-group > label {
                flex: 25%;
            }
            
            .input-group > input,
            .input-group > select,
            .input-group > .input-container,
            .input-group > textarea {
                flex: 75%;
            }

            .multi-input-group {
                display: inline-flex;

                padding: 10px;
            }

            .multi-input-group > label {
                flex: 15%;
            }
            
            .multi-input-group > input,
            .multi-input-group > select,
            .multi-input-group > textarea {
                flex: 35%;
                margin-right: 10px;
            }

            .button-group {
                display: inline-flex;
            }

            .reset-button,
            .submit-button {
                flex: 45%;
                padding: 5px;
                margin: 5px;

                color: #000;
                background-color: #e4e4e4;
                border: 2px solid #000;
                border-radius: 3px 2px;
            }

            .reset-button:hover,
            .reset-button:focus {
                color: #a11;
                border: 2px solid #a11;
            }
            
            .submit-button:hover,
            .submit-button:focus {
                color: #1a1;
                border: 2px solid #1a1;
            }

            .result-container {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;

                margin:3px;
                padding: 10px;

                border: 2px solid black;
                border-radius: 3px 2px;
            }

            .results-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .result-group {
                display: flex;
                flex: 45%;
                flex-direction: column;
                flex-wrap: nowrap;

                margin:3px;
                padding: 10px;

                border: 1px dotted black;
                border-radius: 3px 2px;
            }
        </style>
	</head>
	<body>
        <div class="container">
            <div class="input-container">
                <form class="input-form" enctype="multipart/form-data" action="/api/token/decode" method="post">
                    <div class="input-group">
                        <label for="issuer">Issuer:</label>
                        <input type="text" id="issuer" name="issuer" />
                    </div>
                    <div class="input-group">
                        <label for="token">Access-Token:</label>
                        <textarea type="text" id="token" name="token" rows="8"></textarea>
                    </div>
                    <div class="input-group">
                        <label for="schema_selector"> Select schema (uploaded or local): </label>
                        <div class="input-container">
                            <div class="input-group">
                                <label for="schema_uploaded_selector"> Uploaded: </label>
                                <select name="schema" id="schema_uploaded_selector">
                                    {{#if schemas}}
                                    {{#each schemas as |schema|}}
                                    <option value="{{ schema }}">{{ schema }}</option>
                                    {{/each}}
                                    {{/if}}
                                </select><br>
                            </div>
                            <div class="input-group">
                                <label for="schema_local_selector"> Local: </label>
                                <input type="file" id="schema_local_selector" name="schema_file">
                            </div>
                        </div>
                    </div>
                        <label for="getKeysFromProvider">Use Key-Material from JWKS-Endpoint?</label>
                        <input type="checkbox" id="getKeysFromProvider" name="getKeysFromProvider" checked="checked"/>
                    <div class="multi-input-group">
                        <label id="keyMaterialAlgorithmLabel" for="keyMaterialAlgorithm">Key-Algorithm:</label>
                        <select id="keyMaterialAlgorithm" name="keyMaterialAlgorithm">
                            {{#if key_algorithms}}
                            {{#each key_algorithms as |key_alg|}}
                            <option id="{{key_alg}}" value="{{key_alg}}">{{key_alg}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                        <label id="keyMaterialFilepathLabel" for="keyMaterialFilepath">Key-Filepath:</label>
                        <input type="text" id="keyMaterialFilepath" name="keyMaterialFilepath" />
                    </div>

                    <div class="button-group">
                        <button class="reset-button" type="submit" formaction="/api/token/decode" formmethod="get">Reset</button>
                        <button class="submit-button" type="submit">Submit</button>
                    </div>
                </form>                
            </div>

            <div class="input-container">
                <form class="input-form" enctype="multipart/form-data" method="post" action="/api/token/schema/upload">
                    <div class="input-group">
                        <label for="file_upload">Upload schema: </label>
                        <input type="file" id="file_upload" name="upload">
                    </div>
                    <div class="button-group">
                        <button class="submit-button" type="submit">Upload</button>
                    </div>
                </form>
            </div>
            {{#if schemas}}
            <div class="input-container">
                <form class="input-form" action="/api/token/schema/download">
                    <div class="input-group">
                        <label for="schema_download_delete_selector"> Select schema: </label>
                        <select name="schema" id="schema_download_delete_selector">
                            {{#each schemas as |schema|}}
                            <option value="{{ schema }}">{{ schema }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="button-group">
                        <button class="submit-button" type="submit">Download</button>
                        <button class="submit-button" type="submit" formaction="/api/token/schema/delete">Delete</button>
                    </div>
                </form>
            </div>
            {{/if}}

            <div class="result-container">
                <p class="message-item">{{message}}</p>
                {{#if showResults}}
                    <a href="/api/utils/downloadFile"> Download Program Output</a>
                    <div class="results-item">
                        <div class="result-group">
                            <h2>Header</h2>
                            <pre>{{ header }}</pre>
                        </div>
                        <div class="result-group">
                            <h2>Payload</h2>
                            <pre>{{{ payload }}}</pre>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
	</body>
</html>
