<!DOCTYPE html>
<html>
    <head>
        <title>OIDC Doctor - Discovery</title>
        <link rel="shortcut icon" href="/images/logo-amos.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
.bd-highlight {
    background-color: rgba(86,61,124,0.15);
}
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>

        <main>
            <div class="container">
                <img class="mx-auto d-block" src="/images/logo-amos.png" alt="Image"  width="430" height="300">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <span class="fs-4 btn btn-outline-primary me-2">Back</span>
                    </a>

                    <ul class="fs-4 nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/api/protocol/logger" class="nav-link">Protocol</a></li>
                    </ul>

                    <a class="col-md-3 text-end">
                        <span class="fs-4 btn btn-primary me-2">Test Authentication</span>
                    </a>
                </header>
            </div>
            <div class="container py-3 mb-4 border-bottom">
                <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#advancedSettings" role="button" aria-expanded="false" aria-controls="advancedSettings">
                    Advanced Settings
                </a>
                </p>
                <div class="collapse flex-wrap align-items-center w-100" id="advancedSettings">
                    <form id="issuer_form" action="/api/discovery/issuer" method="post">
                        <input type="text" id="issuer_url" name="issuer_url" class="url" value="{{result.previous_issuer}}" hidden>
                        <div class="card card-body d-flex flex-column align-content-start w-100">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">Filter</button>
                            <div class="modal fade bg-secondary" tabindex="-1" role="dialog" id="filterModal" aria-labelledby="filterModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content rounded-4 shadow">
                                        <div class="modal-header border-bottom-0">
                                            <h5 class="modal-title">Select filters</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body py-0">
                                            <p>Select the fields you want to see</p>
                                            <div class="btn-group-vertical" role="group" aria-label="Filter checkboxes">
                                                <input type="checkbox" class="btn-check" autocomplete="off" id="authorization_endpoint_checkbox" name="authorization_endpoint" value="1" {{#if result.previously_checked.authorization_endpoint}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="authorization_endpoint_checkbox"> authorization_endpoint </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="claim_types_supported_checkbox" name="claim_types_supported" value="1" {{#if result.previously_checked.claim_types_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="claim_types_supported_checkbox"> claim_types_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="claims_parameter_supported_checkbox" name="claims_parameter_supported" value="1" {{#if result.previously_checked.claims_parameter_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="claims_parameter_supported_checkbox"> claims_parameter_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="claims_supported_checkbox" name="claims_supported" value="1" {{#if result.previously_checked.claims_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="claims_supported_checkbox"> claims_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="code_challenge_methods_supported_checkbox" name="code_challenge_methods_supported" value="1" {{#if result.previously_checked.code_challenge_methods_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="code_challenge_methods_supported_checkbox"> code_challenge_methods_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="device_authorization_endpoint_checkbox" name="device_authorization_endpoint" value="1" {{#if result.previously_checked.device_authorization_endpoint}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="device_authorization_endpoint_checkbox"> device_authorization_endpoint </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="grant_types_supported_checkbox" name="grant_types_supported" value="1" {{#if result.previously_checked.grant_types_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="grant_types_supported_checkbox"> grant_types_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="id_token_signing_alg_values_supported_checkbox" name="id_token_signing_alg_values_supported" value="1" {{#if result.previously_checked.id_token_signing_alg_values_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="id_token_signing_alg_values_supported_checkbox"> id_token_signing_alg_values_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="issuer_checkbox" name="issuer" value="1" {{#if result.previously_checked.issuer}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="issuer_checkbox"> issuer </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="jwks_uri_checkbox" name="jwks_uri" value="1" {{#if result.previously_checked.jwks_uri}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="jwks_uri_checkbox"> jwks_uri </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="request_parameter_supported_checkbox" name="request_parameter_supported" value="1" {{#if result.previously_checked.request_parameter_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="request_parameter_supported_checkbox"> request_parameter_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="request_uri_parameter_supported_checkbox" name="request_uri_parameter_supported" value="1" {{#if result.previously_checked.request_uri_parameter_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="request_uri_parameter_supported_checkbox"> request_uri_parameter_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="require_request_uri_registration_checkbox" name="require_request_uri_registration" value="1" {{#if result.previously_checked.require_request_uri_registration}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="require_request_uri_registration_checkbox"> require_request_uri_registration </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="response_modes_supported_checkbox" name="response_modes_supported" value="1" {{#if result.previously_checked.response_modes_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="response_modes_supported_checkbox"> response_modes_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="response_types_supported_checkbox" name="response_types_supported" value="1" {{#if result.previously_checked.response_types_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="response_types_supported_checkbox"> response_types_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="revocation_endpoint_checkbox" name="revocation_endpoint" value="1" {{#if result.previously_checked.revocation_endpoint}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="revocation_endpoint_checkbox"> revocation_endpoint </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="revocation_endpoint_auth_methods_supported_checkbox" name="revocation_endpoint_auth_methods_supported" value="1" {{#if result.previously_checked.revocation_endpoint_auth_methods_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="revocation_endpoint_auth_methods_supported_checkbox"> revocation_endpoint_auth_methods_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="scopes_supported_checkbox" name="scopes_supported" value="1" {{#if result.previously_checked.scopes_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="scopes_supported_checkbox"> scopes_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="subject_types_supported_checkbox" name="subject_types_supported" value="1" {{#if result.previously_checked.subject_types_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="subject_types_supported_checkbox"> subject_types_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="token_endpoint_checkbox" name="token_endpoint" value="1" {{#if result.previously_checked.token_endpoint}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="token_endpoint_checkbox"> token_endpoint </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="token_endpoint_auth_methods_supported_checkbox" name="token_endpoint_auth_methods_supported" value="1" {{#if result.previously_checked.token_endpoint_auth_methods_supported}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="token_endpoint_auth_methods_supported_checkbox"> token_endpoint_auth_methods_supported </label>

                                                <input type="checkbox" class="btn-check" autocomplete="off" id="userinfo_endpoint_checkbox" name="userinfo_endpoint" value="1" {{#if result.previously_checked.userinfo_endpoint}} checked{{/if}}>
                                                <label class="btn btn-outline-primary" for="userinfo_endpoint_checkbox"> userinfo_endpoint </label>
                                            </div>
					    <div class="d-flex flex-row">
						    <button type="button" id="btn_disableAll" class="btn btn-light w-50 mx-2">Disable All</button><br><br>
						    <button type="button" id="btn_enableAll" class="btn btn-light w-50 mx-2">Enable All</button>
					    </div>
                                        </div>
                                        <div class="modal-footer flex-column border-top-0">
                                            <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Apply filters</button>
                                            <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body container d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                            {{#if schemas}}
                            <label class="w-50" for="schema_selector"> Select validation schema: </label>
                            <select class="form-select w-25 mx-4" aria-label="Validation schema select" name="schema" id="schema_selector">
                                {{#each schemas as |schema|}}
                                <option value="{{ schema }}">{{ schema }}</option>
                                {{/each}}
                            </select>
                            <button type="submit" id="apply_schema_btn" class="btn btn-lg btn-primary w-25 mx-0 mb-2">Apply schema</button>
                            {{/if}}
                        </div>
                    </form>
                    <form id="upload_schema" enctype="multipart/form-data" method="post" action="/api/discovery/schema/upload">
                        <div class="card card-body container d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4">
                            <label class="w-50" for="file_upload">Upload schema: </label>
                            <input class="w-25 mx-4" type="file" id="file_upload" name="upload">
                            <button type="submit" id="upload_schema_submit" class="btn btn-lg btn-primary w-25 mx-0 mb-2">Upload schema</button>
                        </div>
                    </form>
                    <form id="download_schema_form" action="/api/discovery/schema/download">
                        <div class="card card-body container d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4">
                            <label class="w-50" for="schema_download_selector"> Download schema: </label>
                            <select class="form-select w-25 mx-4" name="schema" id="schema_download_selector">
                                {{#each schemas as |schema|}}
                                    <option value="{{ schema }}">{{ schema }}</option>
                                {{/each}}
                            </select>
                            <button id="download_schema_btn" type="submit" class="btn btn-lg btn-primary w-25 mx-0 mb-2">Download schema</button>
                        </div>
                    </form>
                    <form id="delete_schema_form" action="/api/discovery/schema/delete">
                        <div class="card card-body container d-flex flex-row align-items-center justify-content-center justify-content-md-between py-3 mb-4">
                            <label class="w-50" for="schema_delete_selector"> Delete schema: </label>
                            <select class="form-select w-25 mx-4" name="schema" id="schema_delete_selector">
                                {{#each schemas as |schema|}}
                                    <option value="{{ schema }}">{{ schema }}</option>
                                {{/each}}
                            </select>
                            <button id="delete_schema_btn" type="submit" class="btn btn-lg btn-primary w-25 mx-0 mb-2">Delete schema</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container">
                {{#if result.success}}
                <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#resultContainer" role="button" aria-expanded="false" aria-controls="resultContainer">
                    Toggle Results
                </a>
                </p>
                {{else}}
                <p>
                <a class="btn btn-danger" data-bs-toggle="collapse" href="#resultContainer" role="button" aria-expanded="false" aria-controls="resultContainer">
                    Toggle Error
                </a>
                </p>
                {{/if}}
                <div class="collapse show" id="resultContainer">
                    <button class="btn btn-primary" onclick="download('discovery.txt', $('#resultText').text())">Download</button>
                    <button class="btn btn-primary" onclick="clipboard($('#resultText').text())">Copy results</button>
                    <div class="card card-body" id="resultText">
                        <pre>
{{{result.info}}}
                        </pre>
                    </div>
                </div>
            </div>
        </main>

        <script>
            function setAll(b) {
                let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = b;
                });
            }
            function enableAll() {
                setAll(true);
            }
            function disableAll() {
                setAll(false);
            }
            const btn_enable = document.querySelector('#btn_enableAll');
            btn_enable.onclick = enableAll;
            const btn_disable = document.querySelector('#btn_disableAll');
            btn_disable.onclick = disableAll;
            function download(filename, text) {
                var tmp_element = document.createElement('a');
                tmp_element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                tmp_element.setAttribute('download', filename);
                tmp_element.style.display = 'none';
                document.body.appendChild(tmp_element);
                tmp_element.click();
                document.body.removeChild(tmp_element);
            }
            function clipboard(text) {
                navigator.clipboard.writeText(text);
            }
        </script>
        <script
              src="https://code.jquery.com/jquery-3.6.0.js"
              integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
              crossorigin="anonymous"></script>

        <script>
            $(document).ready(function(){
                var $upload_schema_submit = $('#upload_schema_submit');
                $upload_schema_submit.on('click', function(e){
                    e.preventDefault();
                    var $upload_schema = $('#upload_schema');
                    $.ajax({
                        url: $upload_schema.attr('action'),
                        type: 'POST',
                        data: new FormData(document.querySelector('#upload_schema')),
                        success: function(response){
                                $('#issuer_form').trigger('submit');
                            },
                        mimeType: "multipart/form-data",
                        contentType: false,
                        cache: false,
                        processData: false
                    });
                });
                var $delete_schema_btn = $('#delete_schema_btn');
                $delete_schema_btn.on('click', function(e) {
                    e.preventDefault();
                    var $delete_schema_form = $('#delete_schema_form');
                    $.get($delete_schema_form.attr('action') + '?schema=' + $('#schema_delete_selector').val(), function response() {
                        $('#issuer_form').trigger('submit');
                    });
                });
            });
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
